# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/
.venv/

# Environment variables
.env

# IDE/editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Large/media files
*.mp4
*.wav
*.mp3
*.avi

# Model files
*.bin
*.gguf
*.pt
*.pth
*.onnx

# Streamlit
.streamlit/secrets.toml

# Python packaging & build artifacts
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

